{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>

    {% for listing in products %}
        {% if listing.sold == False %}
        <li><a href="{% url 'listing_detail' listing.id %}">{{ listing.product }}</a> </li>
            {% if listing.image %}
                <img src="{{ listing.image.url }}"
                width = 250>
             <hr>
            {% endif %}
        {% endif %}
    {% endfor %}
     <hr>
    {% if won_products %}
        {% for won_product in won_products %}
        <strong>Won bid:</strong>
            <li>{{ won_product.product}}  </li>
        {% endfor %}
    {% endif %}

    <strong>Closed Bid:</strong>
    {% for listing in products %}
        {% if listing.sold == True %}
            <li>{{ listing.product }} - Bid Closed </li>
        {% endif %}
    {% endfor %}

{% endblock body%}