{% extends "auctions/layout.html" %}

{% block body %}

<h2>Wishlist</h2>

{% if wishlist_objects %}

        {% for wishlist_object in wishlist_objects %}
            <li><a href="{% url 'listing_detail' wishlist_object.product.id %}">{{ wishlist_object.product }}</a></li>
        {% endfor %}

{% endif %}

    <h2>Active Listings</h2>

    {% for listing in products %}
        <li><a href="{% url 'listing_detail' listing.id %}">{{ listing.product }}</a> </li>

    {% endfor %}

{% endblock body%}