{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Listing:</h1>

    <h2>{{listing.product}} </h2>
    <small>{{listing.description}}</small>
    <br/><br/>
    <h3>Wishlist</h3>
    <a href="{% url 'wishlist_add' listing.pk %}">Add to wishlist</a>
    <br/>
    <h4>Bid</h4>
    <a href="{% url 'bid_add' listing.pk %}">Bid for this product</a>
    <br/>
    {% if not listing.bid.all %}
        No comments yet...
    {% else %}
        {% for bid in listing.bid.all %}
        <strong>
            {{bid.author}} - {{bid.date_added}}
        </strong>
        <br/>
        {{ bid.value }}
        <br/><br/>
        {% endfor %}
    {% endif %}
    <h4> Comments: </h4>
    <br/>
   <a href="{% url 'comment_add' listing.pk %}">Add comment</a>
    <br/>
    {% if not listing.comments.all %}
        No comments yet...
    {% else %}
        {% for comment in listing.comments.all %}
        <strong>
            {{comment.author}} - {{comment.date_added}}
        </strong>
        <br/>
        {{ comment.comment }}
        <br/><br/>
        {% endfor %}
    {% endif %}
{% endblock %}